.container {
    display: flex;
    flex-direction: row;
  }
  
  .filterMenu {
    margin-left: 20px;
    margin-top: -50px;
  }

  @keyframes appear {
    0% {
      max-height: 0vh;
    }

    100% {
        max-height: calc(100vh - 35vh); 
    }
  }
  
  .postCardContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 35vh);
    overflow-y: auto;
    animation: appear 1s ease-in forwards
  }
  